<div class="players-container">
  <div class="players--name">
  <a href="/players/<%= player.athlete_id %>">
  <h2>Players: <%= player.athlete_id %></h2>
  <p>"<%= player.name %>"</p>
  <img src ="<%= player.playerpic %>" >
  <img src ="<%= player.shoepic %>" >

  </a>
  </div>
  <a href="/players/<%= player.athlete_id %>/update">Edit Players</a>
</div>
